<div class="mt-5 container border shadow w-75 bg-white">

  <h6 class="mt-2"><i class="bi bi-car-front mx-2"></i>Enter Your Car details</h6>

  <div class="container  d-flex">

    <div class="col-md-8 container-fluid border-end">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select your Brand</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" (ngModelChange)="patchbrandname()"
          [placeholder]="SelectBrand" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select your Model</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" [placeholder]="modelnameatcarreg"
          data-bs-toggle="modal" data-bs-target="#exampleModalModel" (ngModelChange)="triggerfnatcarreg()">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select Varient</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" [placeholder]="varientnameatcarreg"
        data-bs-toggle="modal" data-bs-target="#exampleVarientModal">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select Reg City</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Registered City">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select Date</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Select Date">
      </div>
    </div>
    

    <div class="col-md-4 mt-5 pt-5">
      <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/lady-standing-beside-new-car%201.svg" alt="">
    </div>

  </div>
</div>

<div>

</div>

<div class="container border rounded-3 shadow mt-3 mb-5 sticky-bottom ">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-end mt-2 mb-2"> 
          <button routerLink="/payment" class="btn btn-warning py-3 px-5 " type="submit"><span style="font-weight: 700;">View Prices</span></button>  
    </div>
  </nav>
</div>

<!-- Car Brand modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Brand</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carbrands data-bs-dismiss="modal"></app-carbrands>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Car Model Modal -->

<div class="modal fade" id="exampleModalModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Model</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carmodal data-bs-dismiss="modal"></app-carmodal>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Car Varient Model -->
<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="exampleVarientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Varient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carvarient></app-carvarient>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
</div>

