<div class="container mt-3 border rounded shadow d-flex bg-white">
   
  
     <div class="col-md-5 mt-2 mb-2 ms-2 ">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label ms-2">Registration Number</label>
            <input type="email" class="form-control border border-0 " id="exampleFormControlInput1" placeholder="Eg. MH15AR1000">
          </div>
    </div>

    <div class="col-md-5 mt-2 mb-2 border-start border-end border-secondary-subtle">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label ms-3">Mobile No.</label>
            <input type="mobile" class="form-control border border-0" id="exampleFormControlInput1" placeholder="+91 Mobile Number">
          </div>
    </div>
    <div class="col-md-2 mt-4 mb-2 me-2 p-1 pt-2 ms-5">
<button class="btn btn-warning p-2"><span style="font-weight: 600;">View Prices</span></button>
    </div>
   
    
   
</div>

<div class="container d-flex justify-content-around mt-1" >

    <p routerLink="/carreg" class="p-1 border bg-white rounded-pill fw-bold text-warning">Don’t Know Reg. No? ></p>

    <p routerLink="/carreg" class="p-1 border bg-white rounded-pill fw-bold text-warning">It’s a New Vehicle > </p>

    <p class="p-1 border bg-white rounded-pill fw-bold text-warning">Renew Policy ></p>

    <p class="p-1 border bg-white rounded-pill fw-bold text-warning me-5">Download Policy ></p>

    <p class="p-1 border bg-white rounded-pill ms-5"><input type="checkbox" class="p-1"> I agree to the <span style="font-size: smaller; text-decoration: underline;">Terms & Conditions</span> </p>

</div>
