
    <img height="500" class="position-absolute" style="z-index: -1;" src="https://www.godigit.com/content/dam/godigit/directportal/en/home-page-virat-banner-1.svg" alt="">
  
<div class="container mt-5">
    <div class="ms-5">

        <h2 class="" style="font-weight: 700;">Do the Digit Insurance</h2>
           <h5 class="text-muted">Trusted by 5 Crore+ Indians</h5>
    </div>
<div class="container">
    <div class="col-md-8 mt-5 ms-3 text-center">


        <ul class="nav justify-content-around">
            <li class="nav-item" routerLink = "/car" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/car-side-view.svg" alt="">
              <a class="nav-link" aria-current="page">Car</a>
            </li>
            <li class="nav-item" routerLink = "/bike" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/motorcycle-side-view.svg" alt="">
              <a class="nav-link" aria-current="page">Bike</a>
            </li>
            <li class="nav-item" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg" alt="">
              <a class="nav-link" aria-current="page">Health</a>
            </li>
            <li class="nav-item" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Autorikshaw.svg" alt="">
              <a class="nav-link" aria-current="page">Commercial</a>
            </li>
            <li class="nav-item" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/travel-airplane.svg" alt="">
              <a class="nav-link" aria-current="page">Travel</a>
            </li>
            <li class="nav-item" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/product-icons/home-image.svg" alt="">
              <a class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item" >
                <img id="iconimg" class=" p-1 bg-white" height="70" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Renew%20Icon.svg" alt="">
              <a class="nav-link" aria-current="page">Renewals</a>
            </li>
           
           
          </ul>

    </div>
    <div class="col-md-4">

    </div>

</div>
</div>