<div class="container w-75">

    <h4 class="mt-3">Choose your Plan</h4>

<div class="border border-warning rounded-3 bg-white  mt-2">
    <p class="mt-3 p-2 " style="font-size: smaller;">Comprehensive Cover - <span style="color: green;">Pay as you drive Addon-on</span> </p>
    <p class="px-2"> <span class="text-muted text-decoration-line-through me-2 ">₹ 319</span> <span style="font-weight: 400;">₹215 /month</span> </p>
   
    <div class="border  rounded-2  p-2 mx-3">
        <p style="font-size: small; font-weight: 500;" ><span style="color: green;">Pay As You Drive! </span><span>Pick your driving plan, save more. 
            Top up with extra kilometers before you are about to cross the limit.</span> </p>
            <div class="d-flex justify-content-around">
                <div class="form-check p-1 ms-4 me-4 border border-warning border-2 rounded bg-white ">
                    <input class="form-check-input " checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      2,500 KM
                    </label>
                  </div>
                  <div class="form-check p-1 ms-2 me-2 border border-warning border-2 rounded bg-white ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      5,000 KM
                    </label>
                  </div>
                  <div class="form-check p-1 ms-2 me-2 border  border-warning border-2 rounded bg-white ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        7,500 KM
                    </label>
                  </div>
                  <div class="form-check p-1 ms-2 me-2 border border-warning border-2 rounded bg-white ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      10,000
                    </label>
                  </div>
                  <div class="form-check p-1 ms-2 me-2 border border-warning border-2 rounded bg-white ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      12,500 KM
                    </label>
                  </div>
                  <div class="form-check p-1 ms-2 me-2 border border-warning border-2 rounded bg-white ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Uulimited KM
                    </label>
                  </div>
                 
            </div>
            <hr>
            <p style="font-size: small; font-weight: 400;">A quick pre-inspection required after payment</p>
    </div>

    <hr>

    <p style="font-size: smaller;">See More></p>
</div>

<div class="border border-warning rounded-3 bg-white mt-3  ">
    <p class="mt-3 p-2 " style="font-size: smaller;">Third Party Cover </p>
    <p class="px-2"> <span style="font-weight: 600;">₹215 /month</span> </p>

    <p class="text-muted px-2" style="font-size: small;">Only covers damage to others for 1 year</p>
   
    <div class="border rounded-2 px-2 mx-3 bg-success bg-opacity-25">
        <p class="mt-2" >
            <span style="font-weight: 500;">Road Side Assistance</span> <br>
            
           <span style="font-weight: 600; color: green;">FREE</span> </p>
        
    </div>

    <hr>

    <p style="font-size: smaller;">See More></p>
</div>


</div>